<main>
  <!-- Page content-->
  <div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Detail</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user, i) => { i++ %>
        <tr>
          <th scope="row"><%= i++ %></th>
          <td><%= user.firstName + ' ' + user.lastName %></td>
          <td><%= user.email %></td>
          <td>
            <a href="" class="btn badge badge-pill bg-info">details</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>
